*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

div#app {
  background-color: #f0f0f0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#ultimate-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 15px;
  background-color: #8d8585;
  border-radius: 12px;
}

.small-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  background-color: #070707;
  border-radius: 4px;
  transition: transform 0.3s;
}

.small-board.active-board {
  outline: 4px solid #00d4ff;
  transform: scale(1.02);
  z-index: 1;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #f8eded;
  color: #070707;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.6rem;
}

.cell:hover {
  background-color: #f0e5e5;
}
.cell.taken {
  cursor: not-allowed;
}

.won-x {
  background-color: rgba(255, 0, 0, 0.2);
}
.won-o {
  background-color: rgba(0, 0, 255, 0.2);
}
.hidden {
  display: none !important;
}

div#gameEndModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 10;
  width: 350px;
  height: 150px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  backdrop-filter: blur(5px);
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 10px;
}

div#gameEndModal h1 {
  grid-column: span 3;
  font-size: 2rem;
  text-align: center;
}

div#gameEndModal button {
  grid-column: span 1;
  grid-column-start: 2;
  height: 50px;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 8px #3f3c3c;
}
